@model IEnumerable<MailGonder.Models.DavetiyeModel>


    <hr />
    <p>
        @foreach (var i in Model)
        {
            <label class="label label-success">@i.Ad</label>
           
        }
    </p>

